<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- Trakt-0 -->
	<category label ="32315">
		<setting type="lsep" label="32315" />
		<setting id="trakt.token" type="text" visible="false" label="" default="" />
		<setting id="trakt.username" type="text" default="" label="40062" enable="false" visible="!eq(-1,)" />
		<setting type="action" label="32316" action="RunScript(script.module.myaccounts, action=traktAcct)" visible="!eq(-2,)" />
		<setting type="action" label="32306" option="close" action="RunScript(script.module.myaccounts, action=traktAuth)" visible="eq(-3,)" />
		<setting type="action" label="32317" option="close" action="RunScript(script.module.myaccounts, action=traktRevoke)" visible="!eq(-4,)" />
		<setting id="trakt.refresh" type="text" visible="false" label="" default="" />
		<setting id="trakt.expires" type="text" visible="false" label="" default="" />
	</category>

	<!-- Debrid Accounts - 1 -->
	<category label="32309">
		<setting type="lsep" label="40059" />
		<setting id="alldebrid.token" label="40077" type="text" default="" visible="false" />
		<setting id="alldebrid.username" label="32318" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting id="alldebrid.expiry.notice" type="bool" label="40086" default="true" visible="!eq(-2,)" />
		<setting type="action" label="32316" action="RunScript(script.module.myaccounts, action=alldebridAcct)" visible="!eq(-3,)" />
		<setting type="action" label="32319" option="close" action="RunScript(script.module.myaccounts, action=alldebridAuth)" visible="eq(-4,)" />
		<setting type="action" label="32317" option="close" action="RunScript(script.module.myaccounts, action=alldebridRevoke)" visible="!eq(-5,)" />

		<setting type="lsep" label="40057" />
		<setting id="premiumize.token" label="40078" type="text" default="" visible="false" />
		<setting id="premiumize.username" label="32318" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting id="premiumize.expiry.notice" type="bool" label="40086" default="true" visible="!eq(-2,)" />
		<setting type="action" label="32316" action="RunScript(script.module.myaccounts, action=premiumizeAcct)" visible="!eq(-3,)" />
		<setting type="action" label="32319" option="close" action="RunScript(script.module.myaccounts, action=premiumizeAuth)" visible="eq(-4,)" />
		<setting type="action" label="32317" option="close" action="RunScript(script.module.myaccounts, action=premiumizeRevoke)" visible="!eq(-5,)" />

		<setting type="lsep" label="40058" />
		<setting id="realdebrid.token" label="40079" type="text" default="" visible="false" />
		<setting id="realdebrid.username" label="32318" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting id="realdebrid.expiry.notice" type="bool" label="40086" default="true" visible="!eq(-2,)" />
		<setting type="action" label="32316" action="RunScript(script.module.myaccounts, action=realdebridAcct)" visible="!eq(-3,)" />
		<setting type="action" label="32319" option="close" action="RunScript(script.module.myaccounts, action=realdebridAuth)" visible="eq(-4,)" />
		<setting type="action" label="32317" option="close" action="RunScript(script.module.myaccounts, action=realdebridRevoke)" visible="!eq(-5,)" />
		<setting id="realdebrid.client_id" label="realdebrid client_id" type="text" default="" visible="false" />
		<setting id="realdebrid.refresh" label="realdebrid refresh" type = "text" default="" visible="false" />
		<setting id="realdebrid.secret" label="realdebrid secret" type = "text" default="" visible="false" />
		
		<setting id="alldebrid.notification.range" type="text" visible="false" label="" default="" />
		<setting id="premiumize.notification.range" type="text" visible="false" label="" default="" />
		<setting id="realdebrid.notification.range" type="text" visible="false" label="" default="" />
	</category>

	<!-- Meta Accounts - 2 -->
	<category label="32310">
		<setting type="lsep" label="32313" />
		<setting id="fanart.tv.api.key" type="text" label="32320" default="" />

		<setting type="lsep" label="32684" />
		<setting id="tmdb.api.key" type="text" option="hidden" label="40072" default="" />
		<setting id="tmdb.username" type="text" label="40060" default="" />
		<setting id="tmdb.password" type="text" label="40061" default="" />
		<setting label="32311" type="action" action="RunScript(script.module.myaccounts, action=ShowHelp, name=tmdbUser)" />
		<setting id="tmdb.session_id" type="text" default="" label="session_id" enable="false" />
		<setting type="action" label="32312" option="close" action="RunScript(script.module.myaccounts, action=tmdbAuth, opensettings=true)" visible="eq(-1,)" />
		<setting type="action" label="32321" option="close" action="RunScript(script.module.myaccounts, action=tmdbRevoke, opensettings=true)" visible="!eq(-2,)" />

		<setting type="lsep" label="32322" />
		<setting id="tvdb.api.key" type="select" label="32323" lvalues="32369|32370|32371" default="0" />
		<setting label="32324" type="action" action="RunScript(script.module.myaccounts, action=ShowHelp, name=tvdbApiKey)" />
		<setting id="tvdb.jw" type="text" default="" visible="false" />

		<setting type="lsep" label="32325" />
		<setting id="imdb.user" type="text" label="32326" default="" />
	</category>

	<!-- Scraper Accounts - 3 -->
	<category label="32327">
		<setting type="lsep" label="32328" />
		<setting id="filepursuit.api.key" type="text" label="32329" default="" />

		<setting type="lsep" label="32330"/>
		<setting id="furk.username" type="text" label="32331" default="" />
		<setting id="furk.password" type="text" label="32332" option="hidden" default="" />
		<setting id="furk.api.key" type="text" label="32333" default="" />

		<setting type="lsep" label="32334" />
		<setting id="easynews.username" type="text" label="32335" default="" />
		<setting id="easynews.password" type="text" label="32336" default="" />

		<setting type="lsep" label="40082" />
		<setting label="40085" type="action" action="RunScript(script.module.myaccounts, action=ShowOKDialog, message=40084)" />
		<setting id="gdrive.cloudflare_url" type="text" label="40083" default="" />

		<setting type="lsep" label="32337" />
		<setting id="ororo.email" type="text" label="32338" default="" />
		<setting id="ororo.password" type="text" option="hidden" label="32344" default="" />
	</category>

	<!-- Options - 4 -->
	<category label="32339">
		<setting id="checkAddonUpdates" type="bool" label="32340" default="false" />
		<setting label="32341" type="action" action="RunScript(script.module.myaccounts, action=ShowHelp, name=updates)" />
		<setting type="sep" />
		<setting id="debug.enabled" type="bool" label="32342" default="false" />
		<setting id="debug.location" type="enum" label="32343" values="Kodi Log|Addon Log" default="1" enable="eq(-1,true)" />
		<setting id="debug.reversed" type="bool" label="32345" default="false" />
		<setting type="action" label="32346" action="RunScript(script.module.myaccounts, action=tools_clearLogFile)" visible="eq(-3,true) + eq(-2,1)" />
		<setting type="action" label="32347" action="RunScript(script.module.myaccounts, action=tools_viewLogFile, name=MyAccounts)" visible="eq(-4,true) + eq(-3,1)" />
		<setting type="action" label="32348" action="RunScript(script.module.myaccounts, action=tools_uploadLogFile)" visible="eq(-5,true) + eq(-4,1)" />
		<setting type="sep" />
		<setting label="40076" type="action" action="RunScript(script.module.myaccounts, action=ShowChangelog)" />
	</category>
</settings>